.Burger {
  width: 80%;
  margin: auto;
  height: 250px;
  overflow-y: auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.2 rem;
  height: 350px;
  
}

@media (min-width: 400px) and (min-height: 400px) {
  .Burger  {
    width: 350px;
    height: 300px;
  }
}



@media (min-width: 1000px) and (min-height: 700px) {
  .Burger  {
    width: 400px;
    height: 300px;
  }
}